<table class ="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Peso(Kg)</th>
      <th>Estado</th>
      <th>Cidade</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.nome %></td>
      <td><%= profile.idade %></td>
      <td><%= profile.peso %></td>
      <td><%= profile.estado %></td>
      <td><%= profile.cidade %></td>
      </tr>
      <%end%>
</div>
  </tbody>
</table>

<%= link_to "Voltar", root_url %>
