<%= nav_bar brand: "doamor", brand_link: root_url do %>
  <%= form_tag busca_profile_path, method: :get, class: "navbar-form navbar-right" do %>
  <div class="form-group">
    <%= link_to "Editar Conta", edit_user_registration_path, class: "btn btn-default btn-xs" %>
    <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-default btn-xs" %>
    <br>
    <br>
    <%= text_field_tag :nome, @nome, class: "form-control" %>
    <%= button_to "Bucar usuários", nil, class: "btn btn-default" %><br>
  </div>
  <% end %>
<% end %>
<div class="container">
<% @profile.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
<% end %>
  <%= form_for Profile.new do |f| %>
    <div class="form-group">
      <%= f.label :nome %>
      <%= f.text_field :nome, class: "form-control" %>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <%= f.label :idade %>
        <%= f.number_field :idade, step: 1, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :peso %>
        <%= f.number_field :peso, class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :estado %>
        <%= f.text_field :estado, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cidade %>
        <%= f.text_field :cidade, class: "form-control"  %>
      </div>
    </div>
    <br>
    <%= f.submit "Atualizar o perfil", class:"btn btn-primary"%>
  <% end %>
</div>
