<%= nav_bar brand: "doamor", brand_link: root_url do %>
  <%= form_tag busca_profile_path, method: :get, class: "navbar-form navbar-right" do %>
  <div class="form-group">
    <%= link_to "Editar Conta", edit_user_registration_path, class: "btn btn-default btn-xs" %>
    <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-default btn-xs" %>
    <br>
    <br>
    <%= text_field_tag :nome, @nome, class: "form-control" %>
    <%= button_to "Bucar usuários", nil, class: "btn btn-default" %><br>
  </div>
  <% end %>
<% end %>
<div class="container">
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<%end%>
<table class ="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Peso(Kg)</th>
      <th>Estado</th>
      <th>Cidade</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.nome %></td>
      <td><%= profile.idade %></td>
      <td><%= profile.peso %></td>
      <td><%= profile.estado %></td>
      <td><%= profile.cidade %></td>
      <td>
        <div class="form-inline">
          <div class="form-group">
          <%= button_to "Excluir Perfil", profile, method: :delete, class: "btn btn-danger", data: {confirm: "Tem certeza que deseja remover #{profile.nome}?"}%>
          <br>
          <%= link_to "Editar Perfil", edit_profile_path(profile), class: "btn btn-default" %>
          </div>
        </div>
      </td>
      </tr>
      <%end%>
</div>
  </tbody>
</table>
<%= link_to "Criar Perfil", new_profile_path, class: "btn btn-default" %>
</div>
